name: Continuous Integration

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  JABBA_INDEX: ${{ github.server_url }}/${{ github.repository }}/raw/${{ github.sha }}/index.json

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java:
          - temurin@18
          - temurin@17
          - temurin@11
          - temurin@8
          - graalvm@17
          - graalvm@11
          - openj9@18
          - openj9@17
          - openj9@11
          - openj9@8
          - corretto@18
          - corretto@17
          - corretto@11
          - corretto@8
          - oracle@18
          - oracle@17
    runs-on: ${{ matrix.os }}
    steps:
      - name: Ignore line ending differences in git
        if: contains(runner.os, 'windows')
        shell: bash
        run: git config --global core.autocrlf false

      - name: Checkout current branch (full)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: ${{ matrix.java }}

      - name: Cache sbt
        uses: actions/cache@v3.0.4
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

      - name: Check if the JDK index is up to date
        shell: bash
        run: sbt checkIndex
  
  download:
    name: Download and Test
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        distribution: [ temurin, graalvm, openj9, corretto, oracle ]
        version: [ 8, 11, 17, 18 ]
        exclude:
          - distribution: graalvm
            version: 8
          - distribution: graalvm
            version: 18
          - distribution: oracle
            version: 8
          - distribution: oracle
            version: 11
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3

      - name: Download Java
        id: download-java
        uses: typelevel/download-java@v2
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.version }}
          index: ${{ github.server_url }}/${{ github.repository }}/raw/${{ github.sha }}/index

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'jdkfile'
          java-version: ${{ matrix.version }}
          jdkFile: ${{ steps.download-java.outputs.jdkFile }}

      - run: java -version
